.mainContent {
  padding: 40px;
  padding-top: 30px;
}

.coursesList {
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
  width: 100%;
  padding: 20px;
}

.no_highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
