.mainContent {
  padding: 40px;
  padding-top: 30px;
}

.coursesList {
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
  width: 100%;
  padding: 20px;
}

.center.aligned {
  user-select: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
